<div class="container">
<!--<div class="col-lg-12">
<ul class="nav nav-tabs">
<li role="presentation" class="active"><a href="/">Home</a></li>
<li role="presentation"><a href="/users">Users</a></li>
<li role="presentation"><a href="/servers">Servers</a></li>
</ul>
</div>
-->

<div class="col-lg-12">
<ul class="nav nav-tabs">
<li role="presentation"  routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><a routerLink="/">Home</a></li>
<li role="presentation"  routerLinkActive="active"><a routerLink="/users">Users</a></li>
<li role="presentation"  routerLinkActive="active"><a routerLink="/users/8">User</a></li>
<li role="presentation"  routerLinkActive="active"><a [routerLink]="['/servers']">Servers</a></li>
<li role="presentation" routerLinkActive="active"><a routerLink="/gross">Gross</a>
<li role="presentation" routerLinkActive="active"><a routerLink="/products">Products</a>
</ul>
</div>

<div class="col-lg-12">
<router-outlet></router-outlet>
</div>

<!--<app-httpmodule2></app-httpmodule2>-->
<!--<app-observable1></app-observable1>-->
</div>
<!--<app-microvan [first_name]="'Rohit'" [last_name]="'kumar'" (clickable)="showThis($event)" (secondClick)="secondShow($event)"></app-microvan>
<app-httpmodule></app-httpmodule>

<app-reactive-form-validation></app-reactive-form-validation>

<p>
<app-template-validation-21st-april></app-template-validation-21st-april>
</p>

<p>
<app-form-validation-reactive></app-form-validation-reactive>
</p>
<hr>
<p>
<app-form-validation-2></app-form-validation-2>
</p>
-->