<html>
   
   <head>
      <title>Angular JS Views</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
   </head>
   
   <body>
      
      <div ng-app = "mainApp">
	  <div ng-include src="'menu.html'"></div>
        <div ng-view></div>
      </div>
      
      <script>
	  var app = angular.module('mainApp',['ngRoute']);
	  app.config(['$routeProvider',function($routeProvider){
	  
	  $routeProvider
	  .when('/home',{
	  templateUrl : 'home.html',
	  controller : 'HomeController'
	  })
	  .when('/info',{
	  templateUrl : 'info.html',
	  controller : 'InfoController'
	  })
	  .otherwise({
	  redirectTo : '/home'
	  });
	  
	  
	  }]);
	  
	  app.controller('HomeController',function($scope){
	  console.log('Home is here')
	  });
	  app.controller('InfoController',function($scope){
	  console.log('Info is here')
	  });
      </script>
      
   </body>
</html>